/* variables */
/* Components */
.listAulas {
  background-color: #1E3150;
}

.listAulas__aula {
  background-color: #fff;
  margin-bottom: 20px;
}

.listAulas__aula img {
  width: 90%;
  margin: 10px auto;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 52.1368px;
  line-height: 67px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

p, span, h3, label, h1, h2, a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
  border: 1.6px solid #000;
  border-radius: 4px 4px 0 0;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  text-align: center;
}

.formContainer {
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.form {
  background-color: #15172b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
  padding: 40px;
  width: 100%;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #1e3250;
  background: -webkit-gradient(linear, left top, right top, from(#1e3250), color-stop(10%, #263853), color-stop(28%, #374760), color-stop(55%, #566377), color-stop(86%, #8b929e));
  background: linear-gradient(90deg, #1e3250 0%, #263853 10%, #374760 28%, #566377 55%, #8b929e 86%);
}

body .content {
  width: 1440px;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1440px) {
  body .content {
    max-width: 90%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.alignItem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alignVertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignVerticalEnd {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.alignVerticalStart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

.display_none {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.disabled * {
  background-color: grey;
  pointer-events: none;
}

.color-white {
  color: white;
}

.mr-1 {
  margin-right: 1%;
}

.mt-2_5 {
  margin-top: 2.5%;
}

.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}

.p-10 {
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */